.refuge-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-top: 50px;
}

.single-refuge {
    width: 270px;
    height: 320px;
}

.single-refuge img {
    width: 270px;
    height: 320px;
}

.single-refuge p {
    width: 270px;
    height: 80px;
    position: absolute;
    margin-top: -80px;
    background-color: #3F90FC;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}